/*
 * Panel
 */

 .panel {
	margin: 5rem auto;
	max-width: 600px;
	background: $white;
	border: 0.4rem solid $black;
	box-shadow: 5px 5px 0px $black;
}

.panel-header {
	padding: 2rem;
	background: $secondary;
	border-bottom: 0.4rem solid $black;
}

.panel-title {
	color: $white;
}

.panel-content {
	padding: 3rem 2rem;
}