/*
 * Panel
 */

 .panel {
	margin: 5rem auto;
	max-width: 64rem;
	background: $white;
	border: 0.4rem solid $black;
	box-shadow: 5px 5px 0px $black;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.panel-header {
	padding: 2rem;
	background: $secondary;
	border-bottom: 0.4rem solid $black;
}

.panel-title {
	color: $white;
}

.panel-content {
	padding: 3rem 2rem;
}