.footer {
	padding: 3rem 0;
	text-align: center;
	background: $secondary;
	border-top: 0.4rem solid $black;

	p {
		font-size: 1.4rem;
		color: $white;
	}

	a:not([class]) {
		color: $primary;
		
		&:hover,
		&:focus {
			color: $link-hover-color;
		}

		&:visited {
			color: $primary;
		}
	}
}