/*
 * Definitions
 */

$body-font-family: $regular-font-family;
$body-font-weight: $regular-font-weight; 
$body-color: $black;
$body-line-height: $line-height-medium;
$body-letter-spacing: 0.03rem;
$body-background: $white;


/*
 * Body
 */

body {
	font-family: $body-font-family;
	font-weight: $body-font-weight;
	color: $body-color;
	line-height: $body-line-height;
	letter-spacing: $body-letter-spacing;
	background: $body-background;
}