/*
 * Shades
 */

$white: #FFFFFF;
$black: #000000;
$light-grey: #DEDEE4;
$grey: #656D78;
$dark-grey: #434A54;


/*
 * Palette
 */

$light: $white;
$dark: $black;
$primary: #0FB78F;
$secondary: #653FCA;
$tertiary: #F97C7A;

/*
 * Utility
 */

$inverse: $dark;