/*
 * Shades
 */

$white: #FFFFFF;
$black: #000000;
$light-grey: #DEDEE4;
$grey: #656D78;
$dark-grey: #434A54;


/*
 * Palette
 */

$light: $white;
$dark: $black;
$primary: #27FFB0;
$secondary: #6A36F7;
$tertiary: #FF5D77;

/*
 * Utility
 */

$inverse: $dark;