/*
 * Shades
 */

$white: #FFFFFF;
$black: #000000;
$light-grey: #DEDEE4;
$grey: #656D78;
$dark-grey: #434A54;


/*
 * Palette
 */

$light: $white;
$dark: $black;
$primary: #02E5CF;
$secondary: #644AFF;
$tertiary: #FF7373;

/*
 * Utility
 */

$inverse: $dark;